Repository BuildIt-Poland/buddy-app, pull requests merged in 2019-11, with the labels that each got.

#23 [BUD-128] Feature: Add GraphQL mocks integration in Cypress
  README.md
  cypress/fixtures/graphql-mocks.ts
  cypress/integration/spec.ts
  cypress/plugins/cy-ts-preprocessor.js
  cypress/support/commands.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  server/src/index.ts
  src/components/ContactDetails/ContactDetails.tsx
  src/components/ContactDetails/__tests__/__snapshots__/ContactDetails.test.tsx.snap
Labels: cypress, graphQL

#27 [BUD-198] login instruction
  README.md
Labels: documentation

#26 [BUD-128] Feature: Add Cypress errors tests
  cypress/fixtures/graphql-mocks.ts
  cypress/integration/errors.spec.ts
  cypress/integration/login.spec.ts
  cypress/integration/root.spec.ts
  cypress/integration/spec.ts
  cypress/support/commands.ts
  package-lock.json
  server/src/errors.ts
Labels: cypress, graphQL

#35 [BUD-202] Create separate npm module for schema and its types
  codecov.yml
  cypress/fixtures/graphql-mocks.ts
  cypress/integration/errors.spec.ts
  cypress/integration/login.spec.ts
  cypress/integration/router.spec.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
  schema/.gitignore
  schema/README.md
  schema/codegen.yml
  schema/index.ts
  schema/package-lock.json
  schema/package.json
  schema/src/generated/schema.json
  schema/src/generated/types.ts
  schema/src/schema-types.ts
  schema/src/schema.graphql
  schema/tsconfig.json
  server/package-lock.json
  server/package.json
  server/src/index.ts
  server/src/resolvers/Buddy.ts
  server/src/resolvers/BuddyTask.ts
  server/src/resolvers/Mutation.ts
  server/src/resolvers/Newbie.ts
  server/src/resolvers/NewbieTask.ts
  server/src/resolvers/Query.ts
  server/src/resolvers/Task.ts
  server/src/resolvers/User.ts
  server/src/utils.ts
  src/__mocks__/general.ts
  src/__mocks__/graphql.ts
  src/components/App/__tests__/App.test.tsx
  src/components/AppRouter/__tests__/AppRouter.test.tsx
  src/components/Carrousel/Carrousel.tsx
  src/components/Carrousel/__tests__/Carrousel.test.tsx
  src/components/ContactDetails/ContactDetails.tsx
  src/components/Login/__tests__/Login.test.tsx
  src/components/NewbieSelect/NewbieSelect.tsx
  src/components/NewbieSelect/__tests__/NewbieSelect.test.tsx
  src/components/TaskCheckbox/TaskCheckbox.tsx
  src/components/TaskCheckbox/__tests__/TaskCheckbox.test.tsx
  src/contexts/AuthContext.tsx
  src/reducers/AuthStore.tsx
  src/types/index.ts
  src/types/schema-types.ts
  src/utils/__tests__/auth.test.ts
  src/utils/__tests__/helpers.test.ts
  src/utils/auth.ts
  src/utils/helpers.ts
Labels: graphQL

#36 [BUD-205] Update / Fix Cypress run for CI
  .travis.yml
  package.json
Labels: ci, cypress
